body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #c6fab9;
    margin: 0;
    flex-direction: column;
    text-align: center;
}

select {
    margin: 10px;
}

#productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align items horizontally */
    align-items: center; /* Center align items vertically */
    gap: 20px; /* Space between items */
    max-width: 800px; /* Optional: set a max width */
}

.product {
    border: 1px solid #ddd;
    padding: 20px;
    width: 200px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
